<!--Представление для отображения всех данных-->
<div class="panel-body">
   <div class="row">
       <div ng-repeat="item in items" class="col-xs-12 col-sm-6 col-md-4"><a class="btn btn-default btn-lg btn-block" href='#'>{{item.name }}</a></div>
      
   </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-right">VehicleID</th>
                <th class="text-right">name</th>
                <th class="text-right">Model</th>
                <th class="text-right">Year</th>
                <th class="text-right">Type</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td class="text-right">{{$index+1}}</td>
                
                <td class="text-right">{{item.Model }}</td>
                <td class="text-right">{{item.Year }}</td>
                <td class="text-right">{{item.Type }}</td>

                <!-- Кнопки "удалить" и "редактировать" напротив каждой записи в таблице-->
                <td class="text-center">
                    <button class="btn btn-xs btn-primary" ng-click="delete(item)">
                        Delete
                    </button>
                    <button class="btn btn-xs btn-primary" ng-click="editOrCreate(item)">
                        Edit
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
        <button class="btn btn-primary" ng-click="editOrCreate()">New</button>
    </div>
</div>