html,body {
    height: 100%;
}
.kubScene {
    max-width: 600px;
    height: 400px;
    background: rgba(0, 218, 255, 0.25);
    margin: 0 auto;
    transform: perspective(600px);
    transform-style: preserve-3d;
}
.kubMaine {
    width: 200px;
    height: 200px;
    background: rgba(255, 0, 0, 0);
    margin: 0px auto;
    position: relative;
    z-index: 1;
    top: 25%;
    left: 0%;
    transform: perspective(600px);
    transform-style: preserve-3d;
    /* transform-origin: center center; */
    transform: translateZ(0px) rotateY(0deg);
    animation: 10s MyKubAnimus ease-in infinite alternate;
}
.Front ,.Back ,.Right,.top,.Bottom,.Left {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(255, 255, 0, 0.75);
    /*z-index: 4;*/
}
.Front{
transform: translateZ(-100px);}
.Back{
    background: rgba(255, 0, 0,0.75);
    transform: translateZ(100px);
}
.Right{
    background: rgba(0, 3, 45, 0.75);
    transform: rotateY(90deg) translateZ(100px);
}
.top{
    background: rgba(138, 43, 226, 0.75);
    transform: rotateX(90deg) translateZ(100px);
}
.Left{
    background: rgba(222, 184, 135, 0.75);
    transform: rotateY(90deg) translateZ(-100px);
}
.Bottom{
    background: rgba(0, 0, 128, 0.75);
    transform: rotateX(90deg) translateZ(-100px);
}
@media sreen and (max-width: 375px){
    .kubMaine {
        width: 200px;
        height: 200px;
        background: red;
        margin: 0px auto;
        position: absolute;
        z-index: 44444;
        top: 20%;
        left: 24%;
    }
}
@keyframes MyKubAnimus {
    0%{
        transform: translateZ(0px) rotateY(0deg);
    }
    100%{
        transform: translateZ(0px) rotateY(960deg);
    }
}